<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Explore Action Set"
            visible="true"
            id="menu.actionSet">
         <menu
               label="Explore Menu"
               id="exploreMenu">
            <separator
                  name="explorerGroup">
            </separator>
         </menu>
         <action
               class="com.nokia.tools.explore.actions.LocateOnDiskToolbarAction"
               enablesFor="+"
               icon="icons/locateOnDisk.png"
               id="menu.actions.ExploreInMenuAction"
               label="Locate on Disk"
               toolbarPath="exploreGroup"
               tooltip="Locate on Disk">
            <enablement>
               <and>
                  <objectClass name="org.eclipse.core.resources.IResource"/>
                  <objectState name="name" value="*"/>
               </and>
            </enablement>

         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="com.nokia.tools.explore.PopupMenuContribution"
            objectClass="org.eclipse.core.runtime.IAdaptable">
         <action
               class="com.nokia.tools.explore.actions.LocateOnDiskPopupAction"
               icon="icons/locateOnDisk.png"
               id="com.nokia.tools.explore.PopupMenuAction"
               label="Locate on Disk">
         </action>
      </objectContribution>
   </extension>

</plugin>
