<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.nokia.s60tools.imaker.internal.intro.Application">
         </run>
      </application>
   </extension>
<!--
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="iMaker Perspective"
            class="com.nokia.s60tools.imakerplugin.intro.Perspective"
            id="com.nokia.s60tools.imakerplugin.perspective">
      </perspective>
   </extension>
 -->  
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="com.nokia.s60tools.imakerplugin.actionSet"
            visible="true"
            id="com.nokia.s60tools.imakerplugin.actionSet">
         <menu
               label="%plugin.ActionSets.Menu.Label"
               id="com.nokia.carbide.cpp.ui.CarbideMenu">
            <separator
                  name="sampleGroup">
            </separator>            
         </menu>
         <action
               class="com.nokia.s60tools.imaker.internal.actions.Flashmenu"
               icon="icons/imakerplugin_icon.png"
               id="com.nokia.s60tools.imakerplugin.Action"
               label="%plugin.ActionSets.Action.Label"
               state="true"
               style="pulldown"
               toolbarPath="sampleGroup"
               tooltip="%plugin.ActionSets.Action.ToolTip">
            <enablement>
               <or>
                  <objectClass
                        name="org.eclipse.core.resources.IResource">
                  </objectClass>
               </or>
            </enablement>
         </action>
      </actionSet>
   </extension>
      
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.nokia.carbide.cpp.preferences.ExtensionsPreferencesPage"
            class="com.nokia.s60tools.imaker.internal.preferences.ImageFlasherPreferencePage"
            id="com.nokia.s60tools.imakerplugin.preferences.ImageFlasherPreferencePage"
            name="%plugin.PreferencePages.Page1.Name"/>
            
   </extension>
   <extension
         id="com.nokia.s60tools.imakerplugin.IMakerBuildLogEditor"
         point="org.eclipse.ui.editors">
		<editor
        class="com.nokia.s60tools.imaker.internal.IMakerBuildLogEditor"
        contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
        default="true"
        extensions="ilog"
        filenames="imaker_build.ilog"
        icon="icons/imakerplugin_icon.png"
        id="com.nokia.s60tools.imakerplugin.IMakerBuildLogEditor"
        name="%plugin.Editors.iMakerBuildLogEditor"/>
   </extension>
   <!--
   <extension
		 point="org.eclipse.core.runtime.products"
		 id="product">      
		<product name="%plugin.Product.Name" application="org.eclipse.ui.ide.workbench" > 
			<property name="appName" value="Carbide.c++ Extensions - iMaker"/> 
		</product>
   </extension>
   -->
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.nokia.s60tools.imaker.internal.application"
            name="iMaker - The Image Maker">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
         <property
               name="appName"
               value="iMaker - The Image Maker">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
         <viewerContribution 
		 	id="com.nokia.s60tools.imakerplugin.popup.editor"
		   	targetID="com.nokia.s60tools.imakerplugin.IMakerBuildLogEditor.context"> 
		    <action
		       id="com.nokia.s60tools.imakerplugin.editor.action1" 
		       label="%plugin.PopupMenu.Item1.Label"
		       menubarPath="additions" 
		       class="com.nokia.s60tools.imaker.internal.actions.EditorClearActionDelegate"> 
		    </action> 
		 </viewerContribution>
   </extension>
     <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            id="com.nokia.s60tools.imakerplugin.intro">
      </intro>
      <introProductBinding
            introId="com.nokia.s60tools.imakerplugin.intro"
            productId="com.nokia.s60tools.imakerplugin.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            introId="com.nokia.s60tools.imakerplugin.intro"
            content="introContent.xml"
            id="com.nokia.s60tools.imakerplugin.configId">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx">
            </implementation>
         </presentation>
      </config>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="com.nokia.s60tools.imaker.internal.impmodel.ImpmodelPackage"
            uri="http://www.s60.com/xml/imp/1">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="com.nokia.s60tools.imaker.internal.impmodel.util.ImpResourceFactoryImpl"
            type="imp">
      </parser>
   </extension>
 
</plugin>
