<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
	<extension point="org.eclipse.help.toc">
		<toc
			file="html/toolTOC.xml"
			primary="true"/>
  <toc
        file="html/tocConcepts.xml"
        primary="false"/>
  <toc
        file="html/tocReference.xml"
        primary="false"/>
  <toc
        file="html/tocTasks.xml"
        primary="false"/>
  <toc
        file="html/tocGettingStarted.xml"
        primary="false"/>
     
	</extension>
   
	
	<!-- Carbide.c++ cheatsheets extension -->
	<!--
	<extension point="org.eclipse.ui.cheatsheets.cheatSheetContent">
		<category
			id="com.nokia.carbide.ide.cheatsheets"
			name="Carbide.c++" />
		<cheatsheet
			category="com.nokia.carbide.ide.cheatsheets"
			contentFile="html/cheatsheets/getStarted_cs.xml"
			id="com.nokia.cdt.debug.help.getStarted"
			name="HelloCarbide Project Example"/>
	</extension>
    -->
	
	<!-- CONTEXT IDs for CONTEXTUAL HELP in windows, dialogs, and views -->
	
	<extension point="org.eclipse.help.contexts" >

       <contexts file="html/contexts.xml"
       		plugin="com.nokia.s60tools.creator.help" />

	</extension>
	
	
	<extension point="org.eclipse.help.index" >
        <index file="html/index.xml"/>
    </extension>

	
</plugin>
