<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.mylyn.discovery.core.connectorDiscovery">

    <connectorDescriptor
            categoryId="com.nokia.carbide.rndutilities.category"
            description="A useful application for creating test data into a device."
            groupId="com.nokia.carbide.rndutilities.category"
            id="com.nokia.carbide.extensions.creator.feature.group"
            kind="task"
            license="EPL 1.0"
            name="Creator Script Editor"
            provider="Nokia"
            siteUrl="${SITE_URL}">
         <overview
               summary="%summary"
               screenshot="images/CrS_shot.png"
               url="http://developer.symbian.org/wiki/index.php/Creator_Carbide_Extension">
         </overview>
         <icon
               image32="images/creator_32x32.png">
         </icon>
      </connectorDescriptor>

   </extension>
</plugin>
