<html>

	<head>
		<link rel="stylesheet" type="text/css" href="../../css/startupTips.css">
	</head>
	
	<body background="../../images/background.jpg" oncontextmenu="return false;">
		<h3>How can I open or close a view from the tool?</h3> 
		 A view is a window containing a collection of controls (like text boxes, images, etc) on your screen. Carbide.ui is made 

up of multiple views. You may resize, open or close any view. To close a view just click on the <i>x</i> button over the 

top-right corner of the view. Once closed, the view can again be opened using Window -> Show View menu. Note that, you may 

revert the tool to its default UI orientation using Window -> Reset Perspective menu.
	</body>
</html>